/* .conteudo{
    border: 1px solid red;
    padding: 20px;
    width: 150px;
    margin: 10px;

}

.conteudo2{
    border: 1px solid red;
    padding: 20px;
    width: 150px;
    margin: 50px;

} */

.noticia{
    background-color: rgb(175, 175, 175);
    border: 1px solid grey;
    padding: 10px;
}


h1{

}
/*O que tem maior margin se sobrepõe (margin-colapse)*/