@charset "UTF-8";

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f2f2f2;
}

div#container{
    width: 85%; /*Layout líquido utiliza porcentagem*/
    margin: 0 auto;
    background: #fff;
    min-width: 720px; /*O layout não vai ficar bugado*/
    max-width: 1280px; /*Para de expandir*/ 
    
}

#marca{
   text-align: center;
   background: grey;
   height: 100px;
   line-height: 100px;
}

#conteudo{
    width: 75%;
    float: right;
}

#conteudo-principal{
    width: 63%;
    float: left;

}

#conteudo-secundario{
    width: 34%; /*180 + 320 = 500, sobrando 20px de espaçamento*/
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao{
    width: 23%; /*180 + 520 = 700, sobrando 20px de espaçamento
    para passar para porcentagem: valor atual * 100 % pelo tamanho total*/
    background: #d1d1d1;
    float: left;
    padding-top:20px;
    padding-bottom: 20px;
}

#navegacao ul{
    list-style: none;
}

#navegacao li a{
    text-decoration: none;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;

}
